<div class="jumbotron">
  <div class="header" >
        <img src="https://cdn-icons-png.flaticon.com/512/6777/6777392.png" width="60" height="60" >
        <h4>CultFlix</h4>
  </div>


  <div class="home-video-wrapper">
    <%= video_tag "jumbo-bg.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>


    <div class="main">
      <h1>Os Cânones do cinema estão aqui.</h1>
      <a class="btn btn-default" href="#">Saiba Mais</a>
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="search" placeholder="pesquise nossa coleção">
        </div>
        <button type="submit" class="btn btn-submit">Procurar</button>
      </form>          
    </div>
  </div>
</div>

<div class="bg">
  <div class="supporting">
    <h2>O universo do cinema na palma da mão.</h2>
    <p> Escolha filmes premiados, adicionamos filmes diariamente.</p>

        <!-- Slider main container -->
      <h2 class="titulos">Os 14 melhores do Oscar</h2>
      <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><%= image_tag("a_malvada_1950.jpg") %></div>
        <div class="swiper-slide"><%= image_tag("a_ponte_do_rio_kwai_1957.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("como_era_verde_meu_vale_1941.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("do_mundo_nada_se_leva_1938.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("franco_atirador_1978.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("menina_de_ouro_2004.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("my_fair_lady_1964.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("noviça_rebelde_1965.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("o_poderoso_chefao_1972.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("o_poderoso_chefao_part_2_1974.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("os_imperdoaveis_1992.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("rebeca_1940.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("se_meu_apartamento_falasse_1960.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("sinfonia_de_paris_1951.jpg")%> </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <!-- Slider main container -->
      <h2 class="titulos">Selecionados pelos nossos cinéfilos</h2>
      <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><%= image_tag("1.jpg") %></div>
        <div class="swiper-slide"><%= image_tag("2.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("3.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("4.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("5.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("6.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("7.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("8.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("9.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("10.jpg")%> </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <!-- Slider main container -->
      <h2 class="titulos">Terror</h2>
      <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><%= image_tag("11.jpg") %></div>
        <div class="swiper-slide"><%= image_tag("12.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("13.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("14.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("15.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("16.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("17.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("18.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("19.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("20.jpg")%> </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <!-- Slider main container -->
      <h2 class="titulos">Anos 80'</h2>
      <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><%= image_tag("21.jpg") %></div>
        <div class="swiper-slide"><%= image_tag("22.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("23.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("24.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("25.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("26.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("27.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("28.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("29.jpg")%> </div>
        <div class="swiper-slide"><%= image_tag("30.jpg")%> </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
</div>

  <div class="feature">
  <div class="container">
    <h1>Disponível em todos os dispositivos</h1>
    <p>Comece a assistir pelo celular, e continue assistindo de onde parou pela TV.</p>
  </div>
  </div>

  <div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>CultFlix</h3>
        <ul>
          <li>Carreiras</li>
          <li>Termos</li>
          <li>Ajuda</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Sobre a CultFlix</h3>
        <ul>
          <li>Cartões de Presente</li>
          <li>Trailers</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Novidades</h3>
        <ul>
          <li>Blog</li>
          <li>Twitter</li>
          <li>YouTube</li>
          <li>Google+</li>
          <li>Facebook</li>
        </ul>
      </div>
    </div>
  </div>
  </div>